.about-me{
    padding: 2rem;
    width: 100%;
    border-radius: 2rem;
    display: grid;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
}
.about-me > p {
    font-family: 'Edu TAS Beginner', cursive;
}

@media screen  and (max-width:1024px){
    .about{
        width: 80%;
    }
}
@media screen  and (max-width:600px){
    .about{
        width: 70%;
        
    }
}